.profile__info {
  min-width: 282px;
  margin: 22px auto 32px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .profile__info {
    margin: 0;
    margin-left: 10px;
    min-width: 336px;
    align-self: center;
    justify-self: start;
  }
}

@media screen and (min-width: 1024px) {
  .profile__info {
    margin-left: 2px;
  }
}
