.photo-grid {
  display: grid;
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (min-width: 591px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 910px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
