.popup__close-button {
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../image/popup/CloseIcon.svg);
  background-size: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -61px;
  right: -22px;
  width: 20px;
  min-height: 20px;
}

.popup__close-button:hover {
  opacity: 0.6;
}
@media screen and (min-width: 880px) {
  .popup__close-button {
    width: 32px;
    min-height: 32px;
    right: -76px;
    top: -73px;
  }
}
