.profile {
  display: grid;
  min-width: 282px;
  margin: 40px auto;
  justify-items: center;
}
@media screen and (min-width: 591px) {
  .profile {
    margin: 39px auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
  }
}

@media screen and (min-width: 768px) {
  .profile {
    grid-template-columns: 120px repeat(2, 1fr);
    padding: 0 20px;
    column-gap: 0;
    align-items: end;
  }
}
@media screen and (min-width: 1024px) {
  .profile {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
    grid-template-columns: 148px repeat(2, 1fr);
  }
}
