.card__like-button {
  background-color: #fff;
  margin-top: 22px;
  border: none;
  cursor: pointer;
  width: 22px;
  min-height: 19px;
  align-self: center;
  background-image: url(../../../image/card/disabled.svg);
}

.card__like-button:hover {
  opacity: 0.5;
}
.card__like-button:active {
  opacity: 1;
  background-image: url(../../../image/card/active.svg);
}
