.profile__nick-name {
  margin: 0 auto;
  margin-top: 4px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 189px;
}

@media screen and (min-width: 768px) {
  .profile__nick-name {
    text-align: left;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .profile__nick-name {
    font-size: 42px;
    line-height: 48px;
    max-width: 294px;
  }
}
