.profile__edit {
  width: 18px;
  min-height: 18px;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../image/profile/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 12px;
  right: 19px;
  border: 1px solid #ffffff;
  cursor: pointer;
}
.profile__edit:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .profile__edit {
    right: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__edit {
    width: 24px;
    min-height: 24px;
    right: 0;
    top: 15px;
  }
}
