.header__authorization-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #fff;
  cursor: pointer;
}
.header__authorization-link:hover {
  opacity: 0.6;
}
